<div class="card card-custom gutter-b">
    <ng-container *ngIf="isLoading">
      <div class="progress progress-modal">
        <div
          class="progress-bar progress-bar-striped progress-bar-animated bg-primary"
          role="progressbar"
          style="width: 100%"
          aria-valuenow="100"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
    </ng-container>
  
    <div class="card-header">
      <div class="card-title">
        <h3 class="card-label">
          <ng-container *ngIf="feeObj">
            {{ id ? "Edit" : "New" }} 
            <span *ngIf="feeObj && feeObj.id"
              >update delivery fee </span
            >
          </ng-container>
        </h3>
      </div>
      <div class="card-toolbar">
        <a type="button" class="btn btn-light" routerLink="/ecommerce/products">
          <i class="fa fa-arrow-left"></i>Back
        </a>
        <button class="btn btn-secondary ml-2" (click)="reset()">
          <i class="fa fa-redo"></i>Reset
        </button>
      </div>
    </div>
    <div class="card-body">
      <ul class="nav nav-tabs nav-tabs-line" role="tablist">
        <li class="nav-item cursor-pointer" (click)="changeTab(tabs.BASIC_TAB)">
          <a
            class="nav-link"
            data-toggle="tab"
            role="tab"
            [attr.aria-selected]="activeTabId === tabs.BASIC_TAB"
            [class.active]="activeTabId === tabs.BASIC_TAB"
          >
            Basic info
          </a>
        </li>
        <!-- <li
          *ngIf="promocodeObj && promocodeObj.id"
          class="nav-item cursor-pointer"
          (click)="changeTab(tabs.REMARKS_TAB)"
        >
          <a
            class="nav-link"
            data-toggle="tab"
            role="button"
            [attr.aria-selected]="activeTabId === tabs.REMARKS_TAB"
            [class.active]="activeTabId === tabs.REMARKS_TAB"
            >Product remarks</a
          >
        </li>
        <li
          *ngIf="promocodeObj && promocodeObj.id"
          class="nav-item cursor-pointer"
          (click)="changeTab(tabs.SPECIFICATIONS_TAB)"
        >
          <a
            class="nav-link"
            data-toggle="tab"
            role="tab"
            [attr.aria-selected]="activeTabId === tabs.SPECIFICATIONS_TAB"
            [class.active]="activeTabId === tabs.SPECIFICATIONS_TAB"
            >Product specifications</a
          >
        </li> -->
      </ul>
  
      <ng-container *ngIf="activeTabId === tabs.BASIC_TAB">
        <div class="mt-5" *ngIf="feeObj">
          <form
            action="#"
            class="form form-label-right"
            [formGroup]="formGroup"
            (ngSubmit)="save()"
          >
            <div class="form-group row">
              <div class="col-lg-4">
                <label>Enter City</label>
                <input
                  type="text"
                  class="form-control form-control-lg form-control-solid"
                  autocomplete="off"
                  placeholder="City"
                  name="city"
                  [class.is-invalid]="isControlInvalid('city')"
                  [class.is-valid]="isControlValid('city')"
                  formControlName="city"
                />
                <div class="feedback" *ngIf="!isControlTouched('city')">
                  Please enter <b>City</b>
                </div>
                <div class="valid-feedback" *ngIf="isControlValid('city')">
                  City was entered correct
                </div>
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('required', 'city')"
                >
                  City is required
                </div>
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('minlength', 'city')"
                >
                  City should have at least 3 symbols
                </div>
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('maxLength', 'city')"
                >
                  City should have maximum 100 symbols
                </div>
              </div>
         
              <div class="col-lg-4">
                <label>Enter Price</label>
                <input
                  type="number"
                  class="form-control form-control-lg form-control-solid"
                  placeholder="Price"
                  name="price"
                  [class.is-invalid]="isControlInvalid('price')"
                  [class.is-valid]="isControlValid('price')"
                  formControlName="price"
                />
                <div class="feedback" *ngIf="!isControlTouched('price')">
                  Please enter <b>Price</b>
                </div>
                <div class="valid-feedback" *ngIf="isControlValid('price')">
                  Price was entered correct
                </div>
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('required', 'price')"
                >
                  Price is required
                </div>


           
              </div>
            </div>
         
         
            <div class="float-right">
              <a
                class="btn btn-default font-weight-bold mr-2"
                routerLink="/ecommerce/products"
                >Cancel</a
              >
              <button #savebutton
                type="submit"
                class="btn btn-primary font-weight-bold mr-2"
                [disabled]="formGroup.invalid"
              >
                Save
              </button>
            </div>
          </form>
        </div>
      </ng-container>
  
      <!-- <ng-container
        *ngIf="activeTabId === tabs.REMARKS_TAB && promocodeObj && promocodeObj.id"
      >
        <app-remarks [productId]="promocodeObj.id"></app-remarks>
      </ng-container>
  
      <ng-container
        *ngIf="activeTabId === tabs.SPECIFICATIONS_TAB && promocodeObj && promocodeObj.id"
      >
        <app-specifications [productId]="promocodeObj.id"></app-specifications>
      </ng-container> -->
    </div>
  </div>
  