<div class="card card-custom gutter-b">
  <ng-container *ngIf="isLoading">
    <div class="progress progress-modal">
      <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar"
        style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </ng-container>

  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">
        <ng-container *ngIf="resObj">
          {{ id ? "Edit" : "New" }}
          <span *ngIf="resObj && resObj.id">update delivery fee </span>
        </ng-container>
      </h3>
    </div>
    <div class="card-toolbar">
      <a type="button" class="btn btn-light" routerLink="/ecommerce/products">
        <i class="fa fa-arrow-left"></i>Back
      </a>
      <button class="btn btn-secondary ml-2" (click)="reset()">
        <i class="fa fa-redo"></i>Reset
      </button>
    </div>
  </div>
  <div class="card-body">
    <ul class="nav nav-tabs nav-tabs-line" role="tablist">
      <li class="nav-item cursor-pointer" (click)="changeTab(tabs.BASIC_TAB)">
        <a class="nav-link" data-toggle="tab" role="tab" [attr.aria-selected]="activeTabId === tabs.BASIC_TAB"
          [class.active]="activeTabId === tabs.BASIC_TAB">
          Basic info
        </a>
      </li>
    </ul>
    <br>
    <div class="row">
            <div class="col-lg-4">
              <label for="images_input">
                <i class="far fa-edit position"></i>
              </label>
              <input type="file" id="images_input" class="non-visible" #imageInput
                (change)="getImage(imageInput.files,'images')">
                <img class="plan-image" id="images" [src]="resObj.images" alt="">
            </div>
   
            <div class="col-lg-4">
              <label for="second_image_input">
                <i class="far fa-edit position"></i>
              </label>
              <input type="file" id="second_image_input" class="non-visible" #imageInput_s
                (change)="getImage(imageInput_s.files,'second_image')">
                <img class="plan-image" id="second_image" [src]="resObj.second_image" alt="">
            </div>

            <div class="col-lg-4">
              <label for="third_image_input">
                <i class="far fa-edit position"></i>
              </label>
              <input type="file" id="third_image_input" class="non-visible" #imageInput_t
                (change)="getImage(imageInput_t.files,'third_image')">
                <img class="plan-image" id="third_image" [src]="resObj.third_image" alt="">
            </div>
     
    </div>
    <ng-container *ngIf="activeTabId === tabs.BASIC_TAB">
      <div class="mt-5" *ngIf="resObj">
        <form action="#" class="form form-label-right" [formGroup]="formGroup" (ngSubmit)="save()">
          <div class="form-group row">
            <div class="col-lg-4">
              <label>Enter Product name</label>
              <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
                placeholder="Product name" name="name" [class.is-invalid]="isControlInvalid('name')"
                [class.is-valid]="isControlValid('name')" formControlName="name" />
              <div class="feedback" *ngIf="!isControlTouched('name')">
                Please enter <b>name</b>
              </div>
              <div class="valid-feedback" *ngIf="isControlValid('name')">
                name was entered correct
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'name')">
                name is required
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'name')">
                name should have at least 3 symbols
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'name')">
                name should have maximum 100 symbols
              </div>
            </div>

            <div class="col-lg-4">
              <label>Enter Price</label>
              <input type="number" class="form-control form-control-lg form-control-solid" placeholder="Price"
                name="price" [class.is-invalid]="isControlInvalid('price')" [class.is-valid]="isControlValid('price')"
                formControlName="price" />
              <div class="feedback" *ngIf="!isControlTouched('price')">
                Please enter <b>Price</b>
              </div>
              <div class="valid-feedback" *ngIf="isControlValid('price')">
                Price was entered correct
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'price')">
                Price is required
              </div>



            </div>

            <div class="col-lg-4">
              <label>Enter Quantity</label>
              <input type="number" class="form-control form-control-lg form-control-solid" placeholder="Quantity"
                name="fake_quantity" [class.is-invalid]="isControlInvalid('fake_quantity')"
                [class.is-valid]="isControlValid('fake_quantity')" formControlName="fake_quantity" />
              <div class="feedback" *ngIf="!isControlTouched('fake_quantity')">
                Please enter <b>Quantity</b>
              </div>
              <div class="valid-feedback" *ngIf="isControlValid('fake_quantity')">
                Quantity was entered correct
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'fake_quantity')">
                Quantity is required
              </div>
            </div>
            <div class="col-lg-4">
              <label>Enter Long description</label>
              <input type="text" class="form-control form-control-lg form-control-solid" placeholder=" Long description"
                name="long_desc" [class.is-invalid]="isControlInvalid('long_desc')"
                [class.is-valid]="isControlValid('long_desc')" formControlName="long_desc" />
              <div class="feedback" *ngIf="!isControlTouched('long_desc')">
                Please enter <b> Long description</b>
              </div>
              <div class="valid-feedback" *ngIf="isControlValid('long_desc')">
                Long description was entered correct
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'long_desc')">
                Long description is required
              </div>
            </div>

            <div class="col-lg-4">
              <label>Enter Short description</label>
              <input type="text" class="form-control form-control-lg form-control-solid" placeholder="Short description"
                name="short_desc" [class.is-invalid]="isControlInvalid('short_desc')"
                [class.is-valid]="isControlValid('short_desc')" formControlName="short_desc" />
              <div class="feedback" *ngIf="!isControlTouched('short_desc')">
                Please enter <b>Short description</b>
              </div>
              <div class="valid-feedback" *ngIf="isControlValid('short_desc')">
                Short description was entered correct
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'short_desc')">
                Short description is required
              </div>
            </div>

            <div class="col-lg-4">
              <label>Is featured ?</label>
              <select name="" id="" class="form-control form-control-lg form-control-solid" placeholder="Price"
                name="is_feature" [class.is-invalid]="isControlInvalid('is_feature')"
                [class.is-valid]="isControlValid('is_feature')" formControlName="is_feature">
                <option value="1">Featured</option>
                <option value="0">Not Featured</option>
              </select>
              <!-- <input type="number" class="form-control form-control-lg form-control-solid" placeholder="Price"
                name="is_feature" [class.is-invalid]="isControlInvalid('is_feature')"
                [class.is-valid]="isControlValid('is_feature')" formControlName="is_feature" /> -->
              <div class="feedback" *ngIf="!isControlTouched('is_feature')">
                Please enter <b>is_feature</b>
              </div>
              <div class="valid-feedback" *ngIf="isControlValid('is_feature')">
                is_feature was entered correct
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'is_feature')">
                is_feature is required
              </div>
            </div>
          </div>


          <div class="float-right">
            <a class="btn btn-default font-weight-bold mr-2" routerLink="/ecommerce/products">Cancel</a>
            <button #savebutton type="submit" class="btn btn-primary font-weight-bold mr-2"
              [disabled]="formGroup.invalid">
              Save
            </button>
          </div>
        </form>
      </div>
    </ng-container>

    <!-- <ng-container
      *ngIf="activeTabId === tabs.REMARKS_TAB && promocodeObj && promocodeObj.id"
    >
      <app-remarks [productId]="promocodeObj.id"></app-remarks>
    </ng-container>

    <ng-container
      *ngIf="activeTabId === tabs.SPECIFICATIONS_TAB && promocodeObj && promocodeObj.id"
    >
      <app-specifications [productId]="promocodeObj.id"></app-specifications>
    </ng-container> -->
  </div>
</div>