.plan-image{
    width: 100%;
    height: 100%;
    border-radius: 11px;
    box-shadow: 7px 6px 10px -2px #7c7cbd;
}
.position{
    position: absolute;
    bottom: 8px;
    right: 16px;
    background-color: #019de4;
    color: #ffffff;
    border-radius: 19%;
    padding: 8px;
    cursor: pointer;
}
.position:hover{
    font-size: 24px;
    transition: 0.5s;
}
.non-visible{
    display: none;
}