<div class="card card-custom gutter-b">
    <div class="card-body">
        <ul class="nav nav-tabs nav-tabs-line" role="tablist">
            <li class="nav-item cursor-pointer">
                <a class="nav-link" data-toggle="tab" role="tab">
                    Basic info
                </a>
            </li>
        </ul>
        <ng-container>
            <div class="mt-5">

                <div class="form-group row">
                    <div class="col-lg-4">
                        <label>user name</label>
                        <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off" [(ngModel)]="orderDetails.user_id.name" readonly />
                    </div>
                    <div class="col-lg-4">
                        <label>Mobile</label>
                        <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off" [(ngModel)]="orderDetails.user_id.phone" readonly />
                    </div>
                    <div class="col-lg-4">
                        <label>City</label>
                        <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off" [(ngModel)]="orderDetails.user_id.city" readonly />
                    </div>
                    <div class="col-lg-4">
                        <label>E-mail</label>
                        <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off" [(ngModel)]="orderDetails.user_id.email" readonly />
                    </div>
              
                    <div class="col-lg-4">
                        <label>Address</label>
                        <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off" [(ngModel)]="orderDetails.user_id.address" readonly />
                    </div>


                </div>
                <div class="form-group row">
                    <div class="col-lg-4">
                        <label>Total price</label>
                        <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off" [(ngModel)]="orderDetails.total_price" readonly />
                    </div>
                    <div class="col-lg-4">
                        <label>Subtotal price</label>
                        <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off" [(ngModel)]="orderDetails.subtotal_price" readonly />
                    </div>
                    <div class="col-lg-4" *ngIf="orderDetails.promocode_id != null" >
                        <label>Promocode</label>
                        <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off" [(ngModel)]="orderDetails.promocode_id" readonly />
                    </div>

                    <div class="col-lg-4">
                        <label>Order_code</label>
                        <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off" [(ngModel)]="orderDetails.order_code" readonly />
                    </div>

                    <div class="col-lg-4">
                        <label>Delivery fees</label>
                        <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off" [(ngModel)]="orderDetails.delivery_fees" readonly />
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>